@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    scroll-behavior:smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    /* background-color: white; */
    width: 100%;
    overflow-x: hidden;
}

a {
    color: #0086e6;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-weight: 400;
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
}

.nav {
    width: 100%;
    box-shadow: 0 2px 2px #888;
    font-size: 1.3em;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

@media screen and (max-width: 768px) {
    .nav {
        font-size: 1em;
    }
}

.nav-container {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav a {
    display: inline-block;
    transition: all 0.3s;
    color: gray;
    margin: 5px 15px;
    text-decoration: none;
    white-space: nowrap;
}

.nav a:hover {
    color: black;
}

/* Responsive behavior for smaller screens */
@media screen and (max-width: 768px) {
    .nav-items {
        flex-direction: column;
    }
    
    .nav a {
        margin: 3px 10px;
        font-size: 0.9em;
    }
}

.container {
    margin: auto;
    max-width: 1000px;
    padding: 40px 20px;
}

footer {
    background-color: #eee;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #666;
}